<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <header th:fragment="siteHeader" class="bg-white shadow">
      <div class="bg_lnb"></div>
      <div
        class="container max-w-screen-xl mx-auto flex justify-between items-center p-4"
      >
        <div class="flex items-center space-x-3">
          <img src="https://picsum.photos/40" alt="로고" class="w-10 h-10" />
          <span class="text-xl font-bold">북매니저 관리자</span>
        </div>
        <nav>
          <ul class="gnb flex space-x-6 text-gray-700 font-medium">
            <li>
              <a href="#" class="hover:text-blue-600 transition-colors"
                >대여현황</a
              >
              <ol class="lnb">
                <li><a href="#">대여목록</a></li>
                <li><a href="#">반납지연</a></li>
              </ol>
            </li>
            <li>
              <a href="#" class="hover:text-blue-600 transition-colors"
                >희망도서</a
              >
              <ol class="lnb">
                <li><a href="#">신청목록</a></li>
              </ol>
            </li>
            <li>
              <a href="#" class="hover:text-blue-600 transition-colors"
                >도서관리</a
              >
              <ol class="lnb">
                <li><a href="#">도서목록</a></li>
                <li><a href="#">도서등록</a></li>
              </ol>
            </li>
            <li>
              <a href="#" class="hover:text-blue-600 transition-colors"
                >배너관리</a
              >
              <ol class="lnb">
                <li><a href="#">추천도서</a></li>
              </ol>
            </li>
            <li>
              <a href="/admin/user" class="text-blue-600 transition-colors">회원관리</a>
              <ol class="lnb">
                <li><a href="/admin/user">회원목록</a></li>
                <li><a href="/admin/user/quits">탈퇴회원</a></li>
              </ol>
            </li>
            <li>
              <a href="/admin/admins" class="hover:text-blue-600 transition-colors"
                >관리자정보</a
              >
              <ol class="lnb">
                <li><a href="/admin/admins">관리자목록</a></li>
                <li><a href="/admin/auth/registration">관리자등록</a></li>
              </ol>
            </li>
            <li>
              <a href="#" class="hover:text-blue-600 transition-colors"
                >게시판관리</a
              >
              <ol class="lnb">
                <li><a href="#">문의하기</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">공지사항</a></li>
              </ol>
            </li>
            <li>
              <form th:action="@{/admin/auth/logout}" method="post">
                <button type="submit"
                        class="hover:text-blue-600 transition-colors">
                  로그아웃
                </button>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
